.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: pink;
  margin-left: 300px;
  margin-right:300px;
  margin-top:150px;
}
.grid-item {
  
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

.grid-item1 {
 background-color: red;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}