/* reset */

* {
    padding: 0px;
    margin: 0px;
}
a:link{
  text-decoration: none;
  color: black;
}

/* type */

body {
    text-align: center;
    font-size: 38px;
    line-height: 1.2;

}

/* structure */
.spacer{
  height: 100vh;
  border: 2px solid red;
}

h1{
  font-family: "tomasa", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;

}
span{
  color: #46f289;
}

h2{
  margin-top: 5px;
  font-family: "bilo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

nav{
  font-family: "bilo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: black;
}

p{
  font-family: "bilo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


section{
  height: 50vh;
  margin: 50px;
  border: solid 1px black;
}

p{
  padding:2%;
}