body {
background-color: white;
animation-name:bg-change;
animation-duration:5s;
animation-fill-mode: forwards;
width:100vw;
height:100vh;
margin:0%;
overflow: hidden;
}

.author{

  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: left;
  color: black;
  padding: 10px;

  
  }
  .myname{

  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: right;
  color: black;
  padding: 10px;

  
  }

.temple{

position:absolute;
  margin-top: 80px;
  font-family: "bely", serif;
  font-weight: 400;
  font-style: normal;

font-size: 16px;
text-align: center;
animation-name:t-change;
animation-duration:5s;
animation-fill-mode: forwards

}

@keyframes bg-change {
  from {
    background-color: ghostwhite;
  }
  to {
    background-color: black;
 
  }
}
@keyframes t-change {
  from {
    color: black;
  }
  to {
    color: ghostwhite;
 
  }
}







  