body {
background-color: black;
}
.author{
position: absolute;
font-family: "kepler-3-variable", sans-serif;
font-variation-settings: "opsz" 5, "wdth" 80, "wght" 280;
font-size: 20px;
text-align: left;
color: whitesmoke;

}
.myname{
position: right-top;
font-family: "kepler-3-variable", sans-serif;
font-variation-settings: "opsz" 5, "wdth" 80, "wght" 280;
font-size: 20px;
text-align: right;
color: whitesmoke;

}
.temple{
	width:1356px;
	height:911px;
	position:absolute;
	font-family: "miller-text", serif;
font-weight: 400;
font-style: normal;
font-size: 24px;

}

.temple:hover {

  animation-name: temple-update;
  animation-duration: 10s;
   animation-iteration-count:infinite;
}
@keyframes temple-update {
  from {color:black}
  to {color:white;
}
