body {
   font-family: "june-expt-variable", sans-serif;
   margin: 0;
   height: 100%;
   font-size: 17px;
    background: linear-gradient(-45deg, #b3ff85, #F2EBC4, #23a6d5, #00fffc);
    background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;
  color:#001CB7;
}



@keyframes gradient-bg {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


.topnav {
  overflow: hidden;
  border-bottom: #001CB7 1px solid;
  display: grid;
  grid-template-columns: 5rem 5rem auto 5rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:#001CB7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {

  color: #001CB7;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  border-right: #001CB7 solid 1px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#search-input{
  justify-self: end;
margin:6px;
}

#search-button{
  justify-self: end;
  background-color: #001CB7; /* set the background color of the button */
  color: #f5f5f5; /* set the text color of the button */
  border: none; /* remove the border of the button */
  font-size: 17px;
  cursor: pointer; /* set the cursor to a pointer on hover */
  border-radius: 5px; /* round the corners of the button */
  margin-right: 6px;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    color:#001CB7;
    scrollbar-highlight-color: #001CB7;

  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 200px; /* set the width of the input field */
    background-color: #f5f5f5; /* set the background color of the input field */
    border-radius: 5px; /* round the corners of the input field */
  }
  
}


 a{
   text-decoration-line: none;
 }


 @keyframes bg-change {
   from {
     letter-spacing:0px;
     filter:blur(0px);
     font-size:200px;
     font-variation-settings: "STYL" 0;
   }
   to {
     filter:blur(0px);
     font-size:200px;
     font-variation-settings: "STYL" 100;
   }
   /*"both"playing back and forth*/
 }


 @keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

 .logo{

    background: linear-gradient(
        to right,
        #001CB7 20%,
        #2bd0ff 30%,
        #82fcff 70%,
        white 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

   text-align:center;
   margin-top: 3%;
   font-family: "june-expt-variable", sans-serif;
   font-size: 200px ;

   animation-name:bg-change;
    animation-duration:5s;
   font-variation-settings: "STYL" 100;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 /*.logo a:hover {
  animation-name:bg-change;
    animation-duration:5s;
   animation-iteration-count: calc(1);
   font-variation-settings: "STYL" 100;
   background-color: none;
   animation-direction: alternate;
   animation-iteration-count: infinite;

}*/

#data-container{
  padding: 2%;

}

@font-face {
  font-family: 'june-expt-variable';
  src: url('path/to/font.woff2') format('woff2-variations');
}

.beach-name {
  font-family: "june-expt-variable", sans-serif;
  font-variation-settings: "STYL" var(--styl);
  text-align: center;
font-size: 74px;
padding-left: 10%;
padding-right: 10%;
padding-top: 2%;
padding-bottom:2%;


}

.result {

  text-align: center;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 5%;
font-size: 28px;
}

.header{
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5%;
}

.highest{
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  font-size: 28px;
}

@keyframes gradient {
  0%{
    font-variation-settings: "STYL" 0;

  }
  100%{
    font-variation-settings: "STYL" 100;
  }
}

.beach-name:hover {
  animation-name:gradient;
animation-duration: 1s;
animation-direction: alternate;
animation-iteration-count: infinite;

}

.one{

text-align: center;
font-size: 78px;
}

.three{

  text-align: center;
  font-size: 48px;
  padding-bottom: 10%;
  }

  .two{
  
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    }

    .vari {
      font-variation-settings: 'STYL' 100;
      color: aqua;
  }
  
  p{
    padding-left: 10%;
    padding-right: 10%;
  }